<%- include('./partials/header')%>

<div class="ui main text container segment">
  <div class="ui huge header">New Blog</div>
  <form action="/blogs" method="POST" class="ui form">
    <div class="ui field">
      <label for="">Title</label>
      <input type="text" name="blog[title]" id="" placeholder="title" />
    </div>
    <div class="ui field">
      <label for="">Image</label>
      <input type="text" name="blog[image]" id="" placeholder="image" />
    </div>
    <div class="ui field">
      <label for="">Body</label>
      <textarea
        name="blog[body]"
        id=""
        cols="30"
        rows="10"
        placeholder="blog post goes here"
      ></textarea>
    </div>

    <input type="submit" value="Submit" class="ui black basic big button" />
  </form>
</div>
<%- include('./partials/footer')%>
